name: Build and Push Docker Images
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build Microservices
        run: |
          for dir in $(find . -maxdepth 1 -type d -name '*-service'); do
            cd $dir
            # Extract microservice name from directory path
            service_name=$(basename $dir)

            # Remove any leading or trailing slashes
            service_name=$(echo $service_name | sed 's#^/*\|/*$##g')

            # Build Docker image with automatic image name
            docker build -t limarktest/$service_name:${{ github.sha }} .

            echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

            docker push limarktest/$service_name:${{ github.sha }}

            cd ..
          done