name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get modified microservices
        id: git-diff
        run: |
          git diff --name-only origin/main | cut -d/ -f1 | sort -u > modified_microservices.txt
          cat modified_microservices.txt
          echo "::set-output name=microservices::$(cat modified_microservices.txt)"