name: Build and Push Docker Images
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v3
      
      
      - name: Identify Modified Microservices
        id: diff
        run: |
          modified_services=$(git diff --name-only HEAD^ HEAD | grep -oE '^microservice\d+')
          echo "::set-output name=modified_services::$modified_services"

      - name: Build Microservices
        run: |
          modified_services=(${{ steps.diff.outputs.modified_services }})

          for service in "${modified_services[@]}"; do
            cd "$service"
            ls -la
            # Run build commands specific to the microservice
            cd ..
          done

      
